body,html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("./todo.jpg") no-repeat;
  background-size: cover;
}
.todo{
  display: block;
  background-color: #e98b119e;
  width: 500px;
  margin-left: 5em;
  margin-top: 4em;
  padding: 10px;
}
.card{
  display:block;
  background-color: #e98b119e;
  width: 400px;
  margin-left: 5em;
  margin-top: 4em;
  padding: 10px;
}
#edittodo{
  margin:1em;
}
.checkbox{
  display: block;
  width:90px;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.336);
}
.word{
  font-family: 'Berkshire Swash', cursive;
}
.logo{
 
  background: url("./logo.jpg");
}
.addbtn{
  margin-left: 5px;
  margin-top: 5px;

}
.modal-content{
  background-color: #eca03bad;
}
